html,
body {
	width: 100%;
	min-height: 100%;
}

.gl-background {
	width: 100%;
	height: 100%;
	position: fixed;
	z-index: -1;
	background-color: #f2ba00; /* Fallback */
}

.content {
	width: 800px;
	max-width: 100%;
	margin: 0 auto;
}

.logo h1 {
	display: inline-block;
}
