[submodule "lib/howlerjs"]
	path = lib/howlerjs
	url = https://github.com/goldfire/howler.js.git
[submodule "lib/normalizecss"]
	path = lib/normalizecss
	url = https://github.com/necolas/normalize.css.git
[submodule "lib/hammerjs"]
	path = lib/hammerjs
	url = https://github.com/hammerjs/hammer.js.git
