@font-face {
	font-family: 'pricedown';
	src: url('font/pricedown/pricedown.eot');
	src:
		url('font/pricedown/pricedown.eot?#iefix') format('embedded-opentype'),
		url('font/pricedown/pricedown.woff2') format('woff2'),
		url('font/pricedown/pricedown.woff') format('woff'),
		url('font/pricedown/pricedown.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
